# Unity generated
RookieToCEO/[Ll]ibrary/
RookieToCEO/[Tt]emp/
RookieToCEO/[Oo]bj/
RookieToCEO/[Bb]uild/
RookieToCEO/[Bb]uilds/
RookieToCEO/[Ll]ogs/
RookieToCEO/[Uu]ser[Ss]ettings/
RookieToCEO/[Mm]emoryCaptures/

# Visual Studio / Rider generated
RookieToCEO/.vs/
RookieToCEO/*.csproj
RookieToCEO/*.unityproj
RookieToCEO/*.sln
RookieToCEO/*.suo
RookieToCEO/*.user
RookieToCEO/*.userprefs
RookieToCEO/*.pidb
RookieToCEO/*.booproj
RookieToCEO/*.svd
RookieToCEO/*.pdb
RookieToCEO/*.mdb
RookieToCEO/*.opendb
RookieToCEO/*.VC.db

# Unity crash logs
sysinfo.txt
*.stackdump

# Test results
RookieToCEO/[Tt]est[Rr]esults/

# macOS
.DS_Store
